In [40]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import sqlite3
import numpy as np
import os

In [41]:
with sqlite3.connect('data\database.sqlite') as con:
    countries = pd.read_sql_query("SELECT * from Country", con)
    matches = pd.read_sql_query("SELECT * from Match", con)
    leagues = pd.read_sql_query("SELECT * from League", con)
    teams = pd.read_sql_query("SELECT * from Team", con)
    player = pd.read_sql_query("SELECT * from Player", con)
    playerstats = pd.read_sql_query("SELECT * from Player_Stats", con)

        id  team_api_id        team_long_name team_short_name
0        1         9987                  Genk             GEN
1        2         9993          Beerschot AC             BAC
2        3        10000         Zulte-Waregem             ZUL
3        4         9994               Lokeren             LOK
4        5         9984         Cercle Bruges             CEB
5        6         8635            Anderlecht             AND
6        7         9991                  Gent             GEN
7        8         9998                  Mons             MON
8        9         7947         FCV Dender EH             DEN
9       10         9985        Standard Liege             STL
10      11         8203           KV Mechelen             MEC
11      12         8342           Club Bruges             CLB
12      13         9999             Roeselare             ROS
13      14         8571              Kortrijk             KOR
14      15         4049                Tubize             TUB
15      16         9996              Mouscron             MOU
16      17        10001              Westerlo             WES
17      18         9986    Sporting Charleroi             CHA
18     614         9997            St.Truiden             STT
19    1034         9989                Lierse             LIE
20    1042         6351                 Eupen             EUP
21    1513         1773          Oud-Heverlee             O-H
22    2004         8475      Waasland-Beveren             WAA
23    2476         8573              Oostende             OOS
24    2510       274581     Mouscron-Peruwelz             MOP
25    3457        10260     Manchester United             MUN
26    3458        10261      Newcastle United             NEW
27    3459         9825               Arsenal             ARS
28    3460         8659  West Bromwich Albion             WBA
29    3461         8472            Sunderland             SUN
..     ...          ...                   ...             ...
269  42985         9906       Atletico Madrid             AMA
270  42986         9864                Malaga             MAL
271  43732         9868                 Xerez             XER
272  43735         8394              Zaragoza             ZAR
273  43736         9867              Tenerife             TEN
274  44489        10278              Hercules             HER
275  44497         8581               Levante             LEV
276  44501         8560         Real Sociedad             SOC
277  45262         7878               Granada             GRA
278  45265         8370        Rayo Vallecano             RAY
279  46019         9910            Celta Vigo             CEL
280  46780        10268                 Elche             ELC
281  47537         8372                 Eibar             EIB
282  47544         7869               Cordoba             COR
283  48290         8306            Las Palmas             LAS
284  49047         9956           Grasshopper             GRA
285  49048         6493            Bellinzona             BEL
286  49049        10192            Young Boys              YB
287  49050         9931                 Basel             BAS
288  49051         9930                 Aarau             AAR
289  49052        10179                  Sion             SIO
290  49053        10199                Luzern             LUZ
291  49054         9824              FC Vaduz             VAD
292  49055         7955                 Xamax             XAM
293  49056        10243            FC Zuerich             ZUR
294  49411        10190            St. Gallen             GAL
295  49769        10191                  Thun             THU
296  50133         9777              Servette             SER
297  50136         7730              Lausanne             LAU
298  51538         7896                Lugano             LUG

[299 rows x 4 columns]

In [89]:
#countries = countries.set_index('id')
#leagues = leagues.set_index('id')
#teams = teams.set_index('team_api_id')
#countries
matches['country'] = matches['country_id'].map(countries['name'])
matches['league'] = matches['league_id'].map(leagues['name'])
matches['home_team'] = matches['home_team_api_id'].map(teams['team_long_name'])
matches['away_team'] = matches['away_team_api_id'].map(teams['team_long_name'])

In [90]:
matches.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,GBH,GBD,GBA,BSH,BSD,BSA,country,league,home_team,away_team
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,1.78,3.25,4.00,1.73,3.40,4.20,Belgium,Belgium Jupiler League,Genk,Beerschot AC
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,1.85,3.25,3.75,1.91,3.25,3.60,Belgium,Belgium Jupiler League,Zulte-Waregem,Lokeren
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Belgium,Belgium Jupiler League,Cercle Bruges,Anderlecht
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,1.50,3.75,5.50,1.44,3.75,6.50,Belgium,Belgium Jupiler League,Gent,Mons
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,4.50,3.50,1.65,4.75,3.30,1.67,Belgium,Belgium Jupiler League,FCV Dender EH,Standard Liege

In [78]:
#Detailed statistics for each match AND betting odds.
#See: https://www.kaggle.com/forums/f/1357/european-soccer-database/t/22394/column-id-meanings-betting-odds-from-the-match-table
matches.head(5)

0            Belgium
1            Belgium
2            Belgium
3            Belgium
4            Belgium
5            Belgium
6            Belgium
7            Belgium
8            Belgium
9            Belgium
10           Belgium
11           Belgium
12           Belgium
13           Belgium
14           Belgium
15           Belgium
16           Belgium
17           Belgium
18           Belgium
19           Belgium
20           Belgium
21           Belgium
22           Belgium
23           Belgium
24           Belgium
25           Belgium
26           Belgium
27           Belgium
28           Belgium
29           Belgium
            ...
25915    Switzerland
25916    Switzerland
25917    Switzerland
25918    Switzerland
25919    Switzerland
25920    Switzerland
25921    Switzerland
25922    Switzerland
25923    Switzerland
25924    Switzerland
25925    Switzerland
25926    Switzerland
25927    Switzerland
25928    Switzerland
25929    Switzerland
25930    Switzerland
25931    Switzerland
25932    Switzerland
25933    Switzerland
25934    Switzerland
25935    Switzerland
25936    Switzerland
25937    Switzerland
25938    Switzerland
25939    Switzerland
25940    Switzerland
25941    Switzerland
25942    Switzerland
25943    Switzerland
25944    Switzerland
Name: country, dtype: object

In [44]:
#List of leagues and their respective country. We may want to limit analysis to a few leagues 
#(i.e. top tier league in England, Germany, France, Italy & Spain)
leagues.head(5)

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4735        4735          France Ligue 1
3   7775        7775   Germany 1. Bundesliga
4  10223       10223           Italy Serie A

In [45]:
#List of unique team names
teams.head(5)

   id  team_api_id team_long_name team_short_name
0   1         9987           Genk             GEN
1   2         9993   Beerschot AC             BAC
2   3        10000  Zulte-Waregem             ZUL
3   4         9994        Lokeren             LOK
4   5         9984  Cercle Bruges             CEB

In [46]:
#list of unique players and attributes
player.head(5)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [47]:
"""
Detailed attributes from the EA Sports FIFA video game series. Players stats are updated frequently and paint 
a fairly accurate picture of the player's skillset. Unlike Baseball, soccer doesn't have a lot of consistent statistics to measure 
actual performance on the field, but this is a decent proxy (though obviously subject to the biases of the EA Sports team 
assessing player's ratings)
"""
playerstats.head(5)

,id,player_fifa_api_id,player_api_id,date_stat,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [51]:
matches.columns.values

array(['id', 'country_id', 'league_id', 'season', 'stage', 'date',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'home_player_X1',
       'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7',
       'home_player_X8', 'home_player_X9', 'home_player_X10',
       'home_player_X11', 'away_player_X1', 'away_player_X2',
       'away_player_X3', 'away_player_X4', 'away_player_X5',
       'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3',
       'home_player_Y4', 'home_player_Y5', 'home_player_Y6',
       'home_player_Y7', 'home_player_Y8', 'home_player_Y9',
       'home_player_Y10', 'home_player_Y11', 'away_player_Y1',
       'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7',
       'away_player_Y8', 'away_player_Y9', 'away_player_Y10',
       'away_player_Y11', 'home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10',
       'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3',
       'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7',
       'away_player_8', 'away_player_9', 'away_player_10',
       'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card',
       'cross', 'corner', 'possession', 'B365H', 'B365D', 'B365A', 'BWH',
       'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH',
       'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA'], dtype=object)

Potential predictors to use:
1.) Home Team Historic Win % (Last 1 Wk, Last 2 Wks, Last yr, etc...)
2.) Away Team Historic Win % 
3.) Home Total Player Ratings (potentially just use overall and scrap everything else)
4.) Away Total Player Ratings
5.) Historic Matchup Outcomes
6.) Home Field Advantage
7.) Bookie Predictions (?)

Compare Results Again:
1.) Actual Outcomes
2.) Aggregate Bookie Odds

Can possibly eliminate from data:
1.) Formations